@charset "UTF-8";



:root{
    --CorA: #efbbec;
    --CorB: #6dacb9;
    --CorC: #ffffff;
    --CorD: #1f031d;
    --CorE: #ff0a37;
    --CorF: #360728;

    --FonteA: ;
    --FonteB: ;
    --FonteC: ;
}
*{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}


/*Caixas Maiores*/

article{
    
}
body{
    background-color: var(--CorD);
}
header{
    background-image: linear-gradient(25deg, var(--CorB), var(--CorA));
    color: var(--CorC);

    padding: 20px;
} header p{ text-align: center; padding-bottom: 40px;}
footer{
    background-image: linear-gradient(25deg, var(--CorB), var(--CorA));
    color: var(--CorC);

    padding: 20px 20px 0px 20px;
}

menu{
    background-color: var(--CorF);
    border-right: 4px solid var(--CorC);
    color: var(--CorE);

    display: none;
    height: 100vh;
    padding: 20px;
    position: fixed;
    width: 300px;
} menu div{ text-align: right;}
section{
    margin-bottom: 20px;
}



/*Caixas Menores*/

a{
    color: var(--CorC);
    text-decoration: none;
}

h1{
    font-size: 4em;
    text-align: center;
}
h2{
    font-size: 3em;
    padding-bottom: 20px;
    text-align: center;
}
h3{
    color: var(--CorE);

    font-size: 2.5em;
    text-align: center;
}
i{
    cursor: pointer;
    padding-bottom: 20px;
}
p, li{
    font-size: 1.5em;
    padding-bottom: 20px;
    text-align: justify;
}
ul{
    list-style-type: none;
}




/*IDs e Classes*/

.itens{
    padding: 10px;
}.itens img, button, h3{width: 100%;}
.forRoom{
    background-color: var(--CorE);
    border: none;
    color: var(--CorC);

    padding: 10px 20px 10px 20px;
}
.playButton{
    background-color: var(--CorE);
    border: none;
    color: var(--CorC);

    padding: 10px 20px 10px 20px;
}
#a1{
    background-color: var(--CorF);
    color: var(--CorC);

    margin: 20px auto 20px auto;
    padding: 20px;
    width: 85%;
}#a1 img{width: 100%; border-radius: 20px;}#a1 button{ width: 100%;}
#a2{
    background-color: var(--CorF);
    color: var(--CorC);

    margin: 20px auto 20px auto;
    padding: 20px;
    width: 85%;
}#a2 img{border-radius: 20px;}
#backButton a{
    font-size: 24px;
}
#papa{
    text-align: center;
}
#papa i{
    font-size: 186.6px;
    margin: auto;
}
#scrollButton{
    background-color: var(--CorE);
    border: 2px solid var(--CorD);
    border-radius: 50px;
    color: #fff;
    filter: opacity(40%);
    
    display: none; /* Oculta o botão por padrão */
    position: fixed; /* Mantém o botão fixo na tela */
    bottom: 20px;
    right: 20px;
    height: 48px;
    width: 48px;
}#scrollButton a{font-size: 24px;}#scrollButton i{padding: 0px;}
#stories{
    display: flex;
}#stories .itens{width: 50%;}
#s1{
    background-image: linear-gradient(25deg, var(--CorD), var(--CorE));
    border: 4px solid var(--CorC);
    color: var(--CorC);

    padding: 20px;
} #s1 ul{columns: 2;}



/*Funções*/

button:hover, i:hover, a:hover{
    color: var(--CorA);
}